Repository cryostatio/cryostat-core, pull requests merged in 2022-10, with the labels that each got.

#161 ci(mergify): update config for latest release branch
  .mergify.yml
Labels: ci, chore, backport

#156 fix(jmc-agent): Agent plugin updates and cleanup
  src/main/java/io/cryostat/core/agent/AgentXMLStream.java
  src/main/java/io/cryostat/core/agent/LocalProbeTemplateService.java
  src/main/java/io/cryostat/core/agent/ProbeTemplate.java
  src/main/java/io/cryostat/core/net/JFRConnection.java
Labels: backport, fix

#165 chore(pom): bump version to 2.14.1
  pom.xml
Labels: build, chore
