Repository cryostatio/cryostat-core, pull requests merged in 2022-01, with the labels that each got.

#108 feat(reportgenerator): implement cancellable report generator
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/main/resources/resultgroups.xml
  src/test/java/io/cryostat/core/reports/InterruptibleReportGeneratorTest.java
  src/test/resources/profiling_sample.jfr
Labels: feat

#112 build(version): set version to 2.6.0-SNAPSHOT
  pom.xml
Labels: build

#54 feat(filesystem): add abstractions for creating (temp) files/dirs
  src/main/java/io/cryostat/core/sys/FileSystem.java
Labels: feat

#116 build(version): set version to 2.6.0
  pom.xml
Labels: build

#118 feat(reports): Add JFR event for report rules
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
Labels: enhancement

#120 fix(report): register rule eval JFR event on init
  src/main/java/io/cryostat/core/CryostatCore.java
Labels: fix
