Repository cryostatio/cryostat-core, pull requests merged in 2022-06, with the labels that each got.

#138 feat(reports): report generator allows callers to specify which rules to evaluate
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/test/java/io/cryostat/core/reports/InterruptibleReportGeneratorTest.java
Labels: feat

#139 chore(pom): set version to 2.10.0
  pom.xml
Labels: chore

#140 chore(pom): set version to 2.11.0-SNAPSHOT
  pom.xml
Labels: chore

#142 feat(reports): allow callers to obtain score map of JFR file output
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/test/java/io/cryostat/core/reports/InterruptibleReportGeneratorTest.java
Labels: feat

#143 chore(pom): set version to 2.11.0
  pom.xml
Labels: chore

#144 chore(pom): set version to 2.12.0-SNAPSHOT
  pom.xml
Labels: chore

#146 chore(pom): update to JDK17
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .mvn/jvm.config
  README.md
  pom.xml
  src/main/java/io/cryostat/core/agent/LocalProbeTemplateService.java
  src/main/java/io/cryostat/core/sys/Clock.java
  src/main/java/io/cryostat/core/templates/LocalStorageTemplateService.java
  src/test/java/io/cryostat/core/EventOptionsCustomizerTest.java
  src/test/java/io/cryostat/core/RecordingOptionsCustomizerTest.java
  src/test/java/io/cryostat/core/reports/ReportGeneratorTest.java
  src/test/java/io/cryostat/core/templates/LocalStorageTemplateServiceTest.java
  src/test/java/io/cryostat/core/templates/RemoteTemplateServiceTest.java
Labels: dependencies, chore

#147 chore(pom): remove spotless JDK modules workaround
  .mvn/jvm.config
  pom.xml
Labels: build, chore

#149 chore(util): extract RuleFilterParser utility
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/main/java/io/cryostat/core/util/RuleFilterParser.java
  src/test/java/io/cryostat/core/util/RuleFilterParserTest.java
Labels: chore

#150 chore(pom): set version to 2.12.0
  pom.xml
Labels: chore
