Repository cryostatio/cryostat-core, pull requests merged in 2023-06, with the labels that each got.

#228 chore(jmc-core): update RJMX sources
  src/main/java/org/openjdk/jmc/rjmx/ConnectionToolkit.java
  src/main/java/org/openjdk/jmc/rjmx/internal/DefaultConnectionHandle.java
  src/main/java/org/openjdk/jmc/rjmx/services/ICommercialFeaturesService.java
  src/main/java/org/openjdk/jmc/rjmx/services/internal/CommercialFeaturesServiceFactory.java
  src/main/java/org/openjdk/jmc/rjmx/services/internal/HotSpot23CommercialFeaturesService.java
  src/main/java/org/openjdk/jmc/rjmx/services/internal/NoCommercialFeaturesService.java
  src/main/java/org/openjdk/jmc/rjmx/services/jfr/internal/FlightRecorderServiceV2.java
Labels: chore

#222 fix(jmx): enable connection to GraalVM native images
  src/main/java/io/cryostat/core/net/JFRJMXConnection.java
Labels: fix

#233 build(version): set version to 2.21.0
  pom.xml
Labels: build, chore

#241 chore(jmc-agent): clean up probe template utility
  src/main/java/io/cryostat/core/agent/LocalProbeTemplateService.java
  src/main/java/io/cryostat/core/agent/ProbeTemplate.java
Labels: chore

#243 chore(jmc-agent): fix probe-template event>method>paramter>contenttypes serialization
  src/main/java/io/cryostat/core/agent/CapturedValue.java
Labels: chore, backport, fix
