Repository cryostatio/cryostat-core, pull requests merged in 2023-11, with the labels that each got.

#290 feat(ci): add status check for new workflow
  .github/workflows/ci.yaml
  .github/workflows/cryostat-test.yml
Labels: ci, feat, safe-to-test

#296 build(deps): downgrade spotbugs
  pom.xml
Labels: dependencies, chore, safe-to-test

#299 ci(cleanup): small clean ups in CI
  .github/workflows/ci.yml
  .github/workflows/cryostat-test.yml
  .github/workflows/maven-publish.yml
  .github/workflows/release-drafter.yml
Labels: ci, safe-to-test
