Repository cryostatio/cryostat-core, pull requests merged in 2023-10, with the labels that each got.

#268 fix(logging): depend on SLF4J API, not particular provider
  pom.xml
Labels: bug, high-priority

#270 chore(release): prepare for cryostat 2.4.0 release
  .mergify.yml
  pom.xml
Labels: chore

#275 feat(ci): test -core's build in Cryostat image
  .github/workflows/ci.yaml
  .github/workflows/cryostat-test.yml
Labels: ci, feat, safe-to-test

#279 chore(ci): restore CI on push workflow
  .github/workflows/push-ci.yml
Labels: ci, chore, safe-to-test

#282 chore(ci): update concurrency for ci.yaml
  .github/workflows/ci.yaml
Labels: ci, fix, safe-to-test

#280 chore(ci): remove duplicate release.yaml file
  .github/workflows/maven-publish.yaml
  .github/workflows/release.yaml
Labels: ci, chore, safe-to-test

#287 ci(dependabot): remove reviewers config
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: ci, safe-to-test
