Repository cryostatio/cryostat-core, pull requests merged in 2023-12, with the labels that each got.

#310 chore(ci): add explicit packages: read permission
  .github/workflows/cryostat-test.yml
Labels: ci, chore, safe-to-test

#309 feat(jvmid): provide method for determining JVM's own hash ID without JMX connection
  src/main/java/io/cryostat/core/JvmIdentifier.java
  src/main/java/io/cryostat/core/net/JFRConnection.java
  src/main/java/io/cryostat/core/net/JFRJMXConnection.java
  src/main/java/io/cryostat/core/net/RuntimeMetrics.java
Labels: feat, safe-to-test

#316 chore(ci): Fix bug when caching maven files for Cryostat build
  .github/workflows/ci.yml
  .github/workflows/cryostat-test.yml
Labels: ci, chore, safe-to-test

#317 chore(ci): checkout core first to cache
  .github/workflows/ci.yml
  .github/workflows/cryostat-test.yml
Labels: ci, chore, safe-to-test

#314 fix(serialization): recording serialization properly converts recording state types
  src/main/java/io/cryostat/core/serialization/SerializableRecordingDescriptor.java
Labels: bug, backport, safe-to-test

#319 ci(release-notes): replace release-drafter with release labels config
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/release-drafter.yml
Labels: ci, safe-to-test
