Repository cryostatio/cryostat-core, pull requests merged in 2023-09, with the labels that each got.

#259 chore(templates): make InvalidEventTemplateException public
  src/main/java/io/cryostat/core/templates/MutableTemplateService.java
Labels: chore, safe-to-test

#260 chore(CI): add dependent-issues workflow
  .github/workflows/dependent-issues.yml
Labels: ci, chore

#261 chore(reports): remove HTML-based generation and transformers
  src/main/java/io/cryostat/core/CryostatCore.java
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/main/java/io/cryostat/core/reports/ReportGenerator.java
  src/main/java/io/cryostat/core/reports/ReportTransformer.java
  src/test/java/io/cryostat/core/reports/InterruptibleReportGeneratorTest.java
  src/test/java/io/cryostat/core/reports/ReportGeneratorTest.java
Labels: chore, breaking change

#263 build(mvn): add mvn wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  README.md
  mvnw
  mvnw.cmd
Labels: build, chore
