Repository cryostatio/cryostat-core, pull requests merged in 2024-02, with the labels that each got.

#345 docs(readme): remove GitHub Packages Maven config note
  README.md
Labels: docs, safe-to-test

#350 fix(CI): checkout -core to cache mvn files before building Cryostat3
  .github/workflows/ci.yml
Labels: ci

#348 feat(logs): remove logger abstraction
  src/main/java/io/cryostat/core/log/Logger.java
  src/main/java/io/cryostat/core/net/discovery/JvmDiscoveryClient.java
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/main/java/io/cryostat/core/templates/RemoteTemplateService.java
  src/test/java/io/cryostat/core/net/discovery/JvmDiscoveryClientTest.java
  src/test/java/io/cryostat/core/reports/InterruptibleReportGeneratorTest.java
Labels: feat, breaking change, safe-to-test

#354 chore(logger): do not pass logger instances into constructors
  src/main/java/io/cryostat/core/net/discovery/JvmDiscoveryClient.java
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
  src/test/java/io/cryostat/core/net/discovery/JvmDiscoveryClientTest.java
  src/test/java/io/cryostat/core/reports/InterruptibleReportGeneratorTest.java
Labels: chore, breaking change, safe-to-test

#353 ci(cryostat3): build and test against cryostat 3.0
  .github/workflows/ci.yml
  .github/workflows/cryostat-test.yml
Labels: ci, chore, safe-to-test

#336 fix(reports): split rule evaluations across executor submissions
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
Labels: fix, safe-to-test

#357 chore(build): include jandex plugin
  pom.xml
Labels: build, chore, safe-to-test

#358 chore(mbeans): use own-defined type to replace java.lang.management.MemoryUsage
  src/main/java/io/cryostat/core/net/MemoryMetrics.java
  src/main/java/io/cryostat/core/net/MemoryUtilization.java
Labels: chore, breaking change, safe-to-test
