Repository cryostatio/cryostat-core, pull requests merged in 2024-04, with the labels that each got.

#373 chore(jmcagent): correct Event field visibility
  src/main/java/io/cryostat/core/agent/Event.java
Labels: chore, safe-to-test

#374 fix(jmcagent): widen exception subclass visiblity
  src/main/java/io/cryostat/core/agent/AgentJMXHelper.java
Labels: fix, safe-to-test

#376 chore(templates): Remove Local and Merged template services
  src/main/java/io/cryostat/core/net/JFRJMXConnection.java
  src/main/java/io/cryostat/core/templates/LocalStorageTemplateService.java
  src/main/java/io/cryostat/core/templates/MergedTemplateService.java
  src/test/java/io/cryostat/core/templates/LocalStorageTemplateServiceTest.java
Labels: chore, safe-to-test

#378 ci(publish): bump version to 3.0.0-SNAPSHOT, publish snapshots on push to main
  .github/workflows/push-ci.yml
  pom.xml
Labels: ci, chore, safe-to-test

#379 ci(workflow): mark workflow as reusable
  .github/workflows/maven-central-release.yml
Labels: ci

#380 build(jdk): upgrade minimum JDK to 17
  .github/workflows/maven-central-release.yml
  .github/workflows/push-ci.yml
  README.md
  pom.xml
Labels: ci, build

#381 ci(secrets): reusable workflow inherits secrets
  .github/workflows/push-ci.yml
Labels: ci, build

#382 ci(jreleaser): turn off pomchecker
  pom.xml
Labels: ci, build
