Repository cryostatio/cryostat-core, pull requests merged in 2024-01, with the labels that each got.

#301 chore(rules): touchups for Jackson serialization
  src/main/java/io/cryostat/core/reports/InterruptibleReportGenerator.java
Labels: chore, safe-to-test

#330 feat(ci): should build cryostat3 as well as cryostat (2.x)
  .github/workflows/ci.yml
Labels: feat, safe-to-test

#334 feat(ci): publish cryostat3.0 images
  .github/workflows/ci.yml
Labels: ci, safe-to-test

#337 build(pom): remove unused repository
  pom.xml
Labels: build, safe-to-test

#338 ci(central): add configurations for JReleaser publication to Maven Central
  .github/workflows/maven-central-release.yml
  pom.xml
  release.sh
Labels: ci, safe-to-test

#339 ci(central): remove workflow version update automation
  .github/workflows/maven-central-release.yml
  .github/workflows/maven-publish.yml
Labels: ci, safe-to-test

#340 chore(maven): change URL for Maven Central publishing
  pom.xml
Labels: chore
