Repository cryostatio/cryostat-core, pull requests merged in 2024-09, with the labels that each got.

#452 fix(jmcagent): Move jfrprobes_schema.xsd to correct location, add ProbeValidatorTest
  cryostat-core/src/main/resources/io/cryostat/core/jmcagent/jfrprobes_schema.xsd
  cryostat-core/src/test/java/io/cryostat/core/jmcagent/ProbeValidatorTest.java
Labels: fix, safe-to-test

#460 build(deps): bump actions/upload-artifact to v4
  .github/workflows/ci.yml
Labels: ci, build, safe-to-test

#461 ci(snapshots): remove trailing slash
  pom.xml
Labels: ci, safe-to-test

#463 ci(snaphots): remove trailing slashes
  cryostat-core/pom.xml
  libcryostat/pom.xml
Labels: ci, safe-to-test

#458 chore(pom): set version to 3.0.1 for release
  pom.xml
Labels: chore, safe-to-test

#465 chore(release): set version to 3.0.2-SNAPSHOT
  pom.xml
Labels: chore, safe-to-test
