Repository cryostatio/cryostat-core, pull requests merged in 2024-05, with the labels that each got.

#391 ci(jdk): build with JDK 17
  .github/workflows/maven-publish.yml
Labels: ci, safe-to-test

#393 ci(maven): publish snapshots to Maven Central without release
  .github/workflows/github-maven-publish.yml
  .github/workflows/maven-central-publish.yml
  .github/workflows/push-ci.yml
  .github/workflows/release.yml
Labels: ci, safe-to-test

#394 ci(maven): fix snapshot publishing job
  .github/workflows/push-ci.yml
Labels: ci, safe-to-test

#395 ci(maven): add type to reusable workflow parameter
  .github/workflows/maven-central-publish.yml
Labels: ci, safe-to-test

#396 ci(maven): run checkout before querying project version
  .github/workflows/push-ci.yml
Labels: ci, safe-to-test

#397 ci(maven): use script for releasing snapshots
  .github/workflows/push-ci.yml
  release-snapshot.sh
Labels: ci, safe-to-test

#398 chore(jmcagent): Rename JMC agent classes and package, remove LocalProbeTemplateService
  src/main/java/io/cryostat/core/agent/LocalProbeTemplateService.java
  src/main/java/io/cryostat/core/jmcagent/CapturedValue.java
  src/main/java/io/cryostat/core/jmcagent/Event.java
  src/main/java/io/cryostat/core/jmcagent/Field.java
  src/main/java/io/cryostat/core/jmcagent/JMCAgentJMXHelper.java
  src/main/java/io/cryostat/core/jmcagent/JMCAgentXMLStream.java
  src/main/java/io/cryostat/core/jmcagent/MethodParameter.java
  src/main/java/io/cryostat/core/jmcagent/MethodReturnValue.java
  src/main/java/io/cryostat/core/jmcagent/ProbeTemplate.java
  src/main/java/io/cryostat/core/jmcagent/ProbeTemplateService.java
  src/main/java/io/cryostat/core/jmcagent/ProbeValidationException.java
  src/main/java/io/cryostat/core/jmcagent/ProbeValidator.java
  src/test/java/io/cryostat/core/agent/ProbeTemplateServiceTest.java
  src/test/resources/io/cryostat/core/agent/template.xml
Labels: chore, safe-to-test

#400 build(deps): revert io.smallrye:jandex-maven-plugin from 3.2.0 to 3.1.8
  pom.xml
Labels: build, chore, safe-to-test

#389 chore(cleanup): Abstract away document type
  src/main/java/io/cryostat/core/templates/RemoteTemplateService.java
  src/main/java/io/cryostat/core/templates/TemplateService.java
  src/test/java/io/cryostat/core/templates/RemoteTemplateServiceTest.java
Labels: chore, safe-to-test
